body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-slate-900);
}

* {
  font-family: 'Roboto';
  color: white !important;
}

.p-focus {
  background-color: var(--color-slate-500) !important;
}

.p-select-option-selected {
  background-color: var(--color-slate-600) !important;
}

.p-component {
  border-color: transparent !important;
  background-color: var(--color-slate-800) !important;
}

.cell {
  display: flex;
  background-color: var(--color-slate-700);
  padding: calc(var(--spacing));
  justify-content: center;
  align-items: center;
}

.cell-header {
  display: flex;
  background-color: var(--color-slate-800);
  padding: calc(var(--spacing));
  justify-content: center;
  align-items: center;
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}
